# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Environment / secrets
.env

# Editor / tooling
.vscode/
.idea/
.prettierignore

# OS
.DS_Store
Thumbs.db
